/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: 'Inter-Variable', sans-serif;
    --accent-font: 'Press Star 2P';
    --themes-main-color: #000;  
    --themes-background: #fff;  
    --gradient-color: #e7e7e7, #1a1a1a; 
    --mix-blend-color: var(--themes-background);
    --bg-color: #d3d3d3; 
    --font-second-weight: 700;  
    --font-main-weight: 400;  
    --content-width: clamp(375px, 48.7%, 700px);
    --heart-fill-color: #FF0000;
  }